@model IEnumerable<Assignment3.Models.Class>

@{
    ViewBag.Title = "Show";
}

<div class="exp">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to List</a>
        <a class="dellink" href="/Teacher/DeleteConfirm/@ViewBag.SelectedTeacher.TeacherId">Delete</a>
        <a class="navlink" href="/Teacher/Ajax_Update/@ViewBag.SelectedTeacher.TeacherId">Update</a>
    </nav>

    <h2>@ViewBag.SelectedTeacher.TeacherFname @ViewBag.SelectedTeacher.TeacherLname</h2>
    <p>TeacherId:@ViewBag.SelectedTeacher.TeacherId</p>
    <p>Hiredate:@ViewBag.SelectedTeacher.HireDate.ToString("dd-MMM-yyyy")</p>
    <p>Salary:@ViewBag.SelectedTeacher.Salary</p>
    <p>Employnumber:@ViewBag.SelectedTeacher.Employeenumber.ToUpper()</p>

</div>



<div id="containerlist">
    <h3>@ViewBag.SelectedTeacher.TeacherFname @ViewBag.SelectedTeacher.TeacherLname Teaches:</h3>

    @foreach (Assignment3.Models.Class classbyteacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12">
                <a href="/Class/Show/@classbyteacher.ClassId">@classbyteacher.ClassCode @classbyteacher.ClassName</a>
            </div>
        </div>

    }



</div>
