@model Assignment3.Models.Class
@{
    ViewBag.Title = "Show";
}

<h2>Class information</h2>

<a class="navlink" href="/Class/List">Back To Classes</a>
<div id="containershow">

    <h2>@Model.ClassName</h2>
    <p>ClassId: @Model.ClassId</p>
    <p>ClassCode: @Model.ClassCode</p>
    <p>Start Date: @Model.StartDate</p>
    <p>Finish Date: @Model.FisihiDate</p>
    <p>Teacher name: @ViewBag.SelectedTeacher.TeacherFname @ViewBag.SelectedTeacher.TeacherLname</p>

</div>










